.main_home{
	width: 350px;
	height: auto;
	background: rgb(255, 255, 255);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#user_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 20px;
  }